.tw-followcard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-followcard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followcard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.tw-followcard-info {
  display: flex;
  flex-direction: column;
}

.tw-followcard-username {
  opacity: 0.6;
}

.tw-followcard-button {
  margin-left: 16px;
  border: 1px solid #000;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.tw-followcard-button:hover {
  background-color: #09f;
}

.tw-followcard-button.is-following {
  border: 1px solid red;
}

.tw-followcard-button.is-following:hover {
  background-color: red;
}
